<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.author.name }}">
  {%- include title.html -%}
  {{ site.head_code }}
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="description" content="{{ page.description }}">
  {%- include assets.html -%}
  {%- if site.rss %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.rss }}" />
  {% endif -%}
</head>
