<div class="paginiation">
  {%- if paginator.previous_page -%}
    <li>
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagi__icon prev" id="btnPrev">
        <svg width="40" height="40">
          <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" />
        </svg>
        <span class="pagi__icon_arrow"></span>
      </a>
    </li>
  {%- endif -%}
  {%- if paginator.page_trail -%}
    {%- for trail in paginator.page_trail -%}
      <li>
          <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}" class="pagi__link{% if page.url == trail.path %} active{% endif %}">{{ trail.num }}</a>
      </li>
    {%- endfor -%}
  {%- endif -%}
  {%- if paginator.next_page -%}
    <li>
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagi__icon next" id="btnNext">
        <svg width="40" height="40">
          <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" />
        </svg>
        <span class="pagi__icon_arrow"></span>
      </a>
    </li>
  {%- endif -%}
</div>
