---
layout: default
---
{%- include header.html -%}
<main class="archive">
  <div class="archive__header">
    <h1>
      {%- assign about_page_path = site.theme_setting.about_page | default: "index.md" %}
      {%- assign about_page = site.pages | where: "path", about_page_path | first -%}
      <a href="{{ about_page.url | relative_url }}">{{ site.author | default: site.title }}</a>
    </h1>
    <div class="archive__header_intro">
      {{ site.description | markdownify }}
    </div>
    {%- include icons.html -%}
  </div>
  <div class="archive__content">
		<div class="archive__list">
			<ul>
      {%- assign pages = site[page.pages] | default: site.posts -%}
			{%- for page in pages -%}
				<li class="archive__item">
					<a href="{{ page.url | relative_url }}" class="archive__link clearfix">
            <span class="archive__time">{%- if page.layout == 'book' -%}{{ page.date }}{%- else -%}{{ page.date | date: "%Y-%m-%d" }}{%- endif -%}</span>
						<span class="archive__title">{{ page.title }}</span>
					</a>
				</li>
			{%- endfor -%}
			</ul>
		</div>
  </div>
  {%- include footer.html -%}
</main>
